body {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.time {
  font-size: 5ch;
  text-align: left;
}

#a {
  position: relative;
  bottom: 40px;
}

#aa {
  position: relative;
  bottom: 20px;
}

#b {
  font-size: 20px;
  position: relative;
  right: 10px;
}
